h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ad4ca0;
}
.comment-text-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  background-color: #ad4ca0;
  border: 1px solid whitesmoke;
  border-radius: 7px;
}
.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0px;
}
div.comment_body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: whitesmoke;
  font-weight: bolder;
}
.comment_body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
}
ol#comment_text {
  padding: 0px 0px 0px 0px;
}
.delete-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.delete_button {
  padding: 2px;
  margin: 0px;
  border-radius: 4px;
  font-weight: bold;
}
.single_song_button {
  padding: 6px;
  border-radius: 3px;
}
.delete-comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
div.create_comment {
  display: flex;
  padding: 20px;
}
div.edit_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 2px;
  border-radius: 2px;
}
.edit-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.single_song_button {
  padding: 6px;
  margin: 2px;
  border-radius: 4px;
  font-weight: bold;
}
.delete-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.comment_submit {
  padding: 3px;
  margin: 3px;
  border-radius: 4px;
  font-weight: bold;
}
