
.formContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  color: #ad4ca0;
}

.all_comments{
 display:flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

#comment-text{
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color:whitesmoke;
 font-size: 16pt;
 font-weight: bold;
}
