.formContainer {
  display: grid;
  grid-template-rows: fit-content(100%);
  background-image: url(../../assets/mic.jpeg);
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  width: 110%;
  height: 100%;
  color: #ffffff;
  font-weight: bold;
  padding: 2px;
}

/* .button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px;
  padding: 2px;
  width: 75px;
  border-radius: 3px;
  font-size: 14px;
  align-items: center;
}
  /* justify-content: end; */
.button {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:13%;
  margin: 20px;
  border: 1px solid black;
  font-weight: 18px;
  border-radius: 3px;
  align-items: center;
  background-color: whitesmoke;
}

.button:hover {
  border: 1px solid whitesmoke;
}

.formInputWrapper {
  display: flex;
  flex-direction: column;
  padding: 2em;
  height: 10%;
  width: 10%;
  border-radius: 2em;
  align-items: center;
  text-align: center;
}
