.comment_create_container {
display: flex;
justify-content: space-between;
flex-direction: row;
}
#comment{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.create_comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input.comment-input {
    /* display: flex; */

}
