.delete_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: black;
  cursor: pointer;
}

.delete_button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
