@import-normalize







{
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  /* overflow-y: hidden; */
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}
