@import-normalize;

/* @media screen {
  max-width-600px;
} */
/* html {

  background-image: url(./assets/neonVibe.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

} */
* {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  /* overflow-y: hidden; */
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}
