.audio-photo {
  background-image: url(../../assets/musicSymbol.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-row: auto;
}

#single-song {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  color: rgb(173, 76, 160)
}

.single_song_button{
 display:flex;
 flex-direction: row;
 justify-content: center;
}

#song-title{
  display:flex;
  flex-direction: column;
  color: rgb(173, 75, 165 )
}
