.formContainer {
  display: grid;
  grid-template-rows: fit-content(100%);
  text-align: center;
  background-image: url(../../assets/pianoHand.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  color: white;
}

/* h1.div_wrapper {

} */
form.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .login_wrapper::placeholder  */
.login_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#login_button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 18pt;
  padding: 2px;
  color: black;
}

#username_email_input {
  border: 1px solid grey;
  border-radius: 3px;
  font-size: 22pt;
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 2px;
}
.password_input {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 22pt;
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 2px;
}
.errors_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
/* .inputdiv {
    display: flex;
     width: 175px;
     height: 35px;
     justify-content: space-between;
     margin: 18px;
    box-shadow: royalblue;

} */
