.formContainer {
  display: grid;
  grid-template-rows: fit-content(100%);
  justify-content: space-around;
  align-items: center;
  background-image: url(../../assets/piano.jpeg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  padding-top: 80px;
  padding-left: 250px;
}

#login_button {
  border: solid 1px rgb(44, 43, 43);
  border-radius: 6px;
  /* box-shadow: -0.5px -0.5px 3px 3px lightslategray; */
  padding: 4px 4px 4px 4px;
  width: 80px;
}
/* .inputdiv {
    display: flex;
     width: 175px;
     height: 35px;
     justify-content: space-between;
     margin: 18px;
    box-shadow: royalblue;

} */
#username_email_input {
  border: 1px ridge grey;
  border-radius: 1rem;
  font-size: 22px;
  text-align: center;
  align-items: center;
  padding: 0px 0px 0px 12px;
  margin: 2px;
}


.password_input {
  border: 1px ridge grey;
  border-radius: 1rem;
  font-size: 22px;
  text-align: center;
  align-items: center;
  padding: 0px 0px 0px 12px;
   margin: 2px;
}

.errors_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
