.formContainer {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    max-height: 475px;
    padding: 15px;
    padding-bottom: 50px;
    border: 5px solid purple;
    border-bottom-left-radius: 4rem;
    position: absolute;
    right: 100px;
    top: 50px;
    background: lavender;
}

.input.div {
    display: flex;
    /* width: 175px; */
    height: 35px;
    /* justify-content: space-between; */
    margin: 10px;
    border: 2px ridge purple;
    
}
.input {
    font-size: 24pt;
}

.submitButton {
    display: block;
    align-self: center;
    position: relative;
    left: 140px;
    width: 150px;
    height: 35px;
    font-size: 22pt;
    font-weight: bold;
    color:slateblue;
    text-align: center;
    
}

.forgot {
    position: absolute;
    bottom: 2px;
    width: 200px;
    left: 70px;
}

.remember {
    display: inline-flex;
    position: relevative;
}