.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* .div_wrapper {

} */
#login_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:4px;
  margin: 2px;
  border: solid 1px rgb(44, 43, 43);
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: -.5px -.5px 3px 3px lightslategray;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* .inputdiv {
    display: flex;
     width: 175px;
     height: 35px;
     justify-content: space-between;
     margin: 18px;
    box-shadow: royalblue;

} */

.password_input, #username_email_input {
  border: 3px ridge grey;
  border-radius: 1rem;
  font-size: 22pt;
  text-align: center;
  align-items: center;
}

.errors_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
