.heading {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.mainPageContainer {
  height: 100%;
  /* background-image: url(../../assets/city.jpeg); */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
