.formContainer {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  max-height: 750px;
  padding: 15px;
  padding-bottom: 50px;
  position: absolute;
  content: 100px;
  top: 50px;
  left: 50px;
  opacity: 0.8em;
}

.inputdiv {
  display: flex;
  justify-content: space-between;
  width: 175px;
  height: 35px;
  margin: 18px;
  box-shadow: lightgray;
}

.input {
  border-radius: 1em;
  font-size: 20pt;
  text-align: center;
}
 .submitButton {
  font-weight: 600px;
  background-color: whitesmoke;
  border: 1px solid black ;
  border-radius: 5px;
  position: relative;
  padding: 4px;
  font-size:14pt;
  top: 130px;
  left: 15px;
 }
 .password_input {
   padding: 2px;
 }
/*
.submitButton {
  width: 150px;
  height: 35px;
  font-size: 22pt;
  font-weight: bold;
  color: rgb(83, 83, 83);
  text-align: center;
} */

.checkbox {
  word-wrap: normal;
  color:rgb(66, 57, 124)
}

.forgot {
  color:rgb(234, 235, 226);
  position: absolute;
  bottom: 2px;
  width: 200px;
  left: 70px;
}

.remember {
  display: inline-flex;
  position: relative;
}
