.formContainer {
 /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  /* position: absolute;
  max-width: 450px;
  max-height: 750px; */
  padding: 15px;
  padding-bottom: 50px;
  content: 100px;
  top: 50px;
  left: 50px;
}
.inputdiv {
  height: 35px;
  margin: 18px;
  box-shadow: lightgray;
}
.input {
  border-radius: 1em;
  font-size: 20pt;
  text-align: center;
}
 .submitButton {
  font-weight: bold;
  width: 150px;
  height: 35px;
  text-align: center;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
  font-size:14pt;
 }

 .password_input {

 }

/* .submitButton {
  width: 150px;
  height: 35px;
  font-size: 22pt;
  font-weight: bold;
  color: rgb(83, 83, 83);

} */

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: normal;
  color:rgb(66, 57, 124);
  font-weight: bold;
}

div.box_check {
  display: inline-flex;
  flex-direction: row;
}
.welcometext{
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
}
.forgot {
  align-content: flex-end;
  justify-content: space-around;
  color:whitesmoke;
  bottom: 2px;
  padding-top: 15px;
}

.remember {
  display: inline-flex;
  position: relative;
}
