.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  max-width: 450px;
  max-height: 750px;
  padding: 15px;
  padding-bottom: 50px;
  content: 100px;
  top: 50px;
  left: 50px;
  opacity: 0.8em;
}

.inputdiv {
  width: 175px;
  height: 35px;
  margin: 18px;
  box-shadow: lightgray;
}

.input {
  border-radius: 1em;
  font-size: 20pt;
  text-align: center;
}
 .submitButton {
  font-weight: 600px;
  width: 150px;
  height: 35px;
  text-align: center;
  background-color: whitesmoke;
  border: 1px solid black ;
  border-radius: 5px;
  padding: 4px;
  font-size:14pt;
  top: 130px;
  left: 15px;
 }
 .password_input {
   padding: 2px;
 }

/* .submitButton {
  width: 150px;
  height: 35px;
  font-size: 22pt;
  font-weight: bold;
  color: rgb(83, 83, 83);

} */

.checkbox {
  word-wrap: normal;
  color:rgb(66, 57, 124);
  font-weight: 1000px;
}

.welcometext{
  font-weight: bold;
  color: whitesmoke;
}
.forgot {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  color:whitesmoke;
  bottom: 2px;
  width: 200px;
}

.remember {
  display: inline-flex;
  position: relative;
}
