.nav-bar {
  display: flex;
  font-size: medium;
  font-weight: bold;
  height: 30px;
  color: rgb(173, 76, 160);
  justify-content: space-around;
  text-align: center;

}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: rgb(197, 189, 189);
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 3px;
  width: 85px;
  height: 35px;
}
.nav-link {
  text-decoration: none;
  width: 100px;
}
.profile-button {
  background-color: whitesmoke;
  border: 1px solid rgb(168, 164, 164);
  border-radius: 3px;
  text-align: center;
}

.profile-button:hover{
  color: whitesmoke;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(168, 164, 164);

}

.user_name{
  float:left;
  font-size: 18px;
  color: rgb(173, 76, 160);
}

.logout_button{
  display:flex;
}
