div.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  background-color: whitesmoke;
}

.profile-dropdown {
  display: flex;
  flex-flow: column;
  align-content: left;
  justify-content: space-evenly;
}
div.nav-link {
  text-decoration: none;
  width: 100px;
  margin: 4px;
}
.profile-button {
  margin: 1px;
  padding-top: 2px;
  border: 1px solid rgb(48, 51, 53);
  border-radius: 3px;
}

.profile-button:hover {
  background-color: white;
  border: 1px solid black;
  opacity: none;
}

.logout_button {
  display: flex;
  float: left;
}

a,
a.active {
  text-decoration: none;
}
