.nav-bar {
  display: flex;
  font-size: medium;
  font-weight: bold;
  height: 30px;
  color: black;
  justify-content: space-around;
  text-align: center;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: rgb(197, 189, 189);
  margin: 0px;
  border: 1px solid lightslategray;
  border-radius: 3px;
  width: 150px;
  height: 35px;
}
.nav-link {
  text-decoration: none;
  width: 100px;
  margin: 2px;
}
.profile-button {
  margin: 1px;
  padding-top: 2px;
  border: 1px solid lightslategray;
  border-radius: 3px;
}

.profile-button:hover {
  background-color: white;
  box-shadow: -2px -4px 8px lightslategray;
  border: 1px solid black;
  opacity: none;
}

.user_name {
  float: left;
  font-size: 18px;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

.logout_button {
  display: flex;
  float: left;
}
